.container{
    margin-top:2%;
    box-shadow: 10px 10px 10px rgb(218, 212, 212);
}
.card-title{
    margin-top: 1%;
    margin-left:2%
}
.center{
    padding:5% 40% 3%;
    
}
.btn{
    margin-left:2%;
    box-shadow: 5px 5px 5px lightblue;
}
.center img{
    width:180px;
    height:150px;
    margin-bottom:15%;
}
.card-table{
    position:relative;
    margin:5%;
    background-color:#fff ;
    background-clip: border-box;
    word-wrap:break-word ;
    border:1px solid black;
    border-radius: 10px;
}